/**********************************************
*** Ерөнхий дүрмүүд
**********************************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

body {
  color: #555;
  font-family: Open Sans;
  font-size: 16px;
  position: relative;
  height: 100vh;
  font-weight: 400;
}

.right {
  float: right;
}
.red {
  color: #ff5049 !important;
}
.red-focus:focus {
  border: 1px solid #ff5049 !important;
}

/**********************************************
*** Вэбийн толгой хэсэгdfsafef
***********d**********************************/

.top {
  height: 60%;
  background-image: linear-gradient(
      rgba(243, 243, 243, 0.35),
      rgba(0, 0, 0, 0.35)
    ),
    url(back1.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}
.budget {
  position: absolute;
  width: 350px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.budget__title {
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
  font-weight: 300;
}

.budget__value {
  font-weight: 300;
  font-size: 46px;
  text-align: center;
  margin-bottom: 25px;
  letter-spacing: 2px;
}

.budget__gartolgoh,
.budget__haoat,
.budget__uridchilgaa,
.budget__nd {
  padding: 12px;
  text-transform: uppercase;
}

.budget__gartolgoh {
  margin-top: 20px;
  background-color: #28b9b5;
}

.budget__nd {
  margin-bottom: 5px;
  background-color: #ff6c6c;
}
.budget__haoat {
  margin-bottom: 5px;
  background-color: #ff6c6c;
}
.budget__uridchilgaa {
  margin-bottom: 5px;
  background-color: #ff6c6c;
}

.budget__gartolgoh--text,
.budget__haoat--text,
.budget__uridchilgaa--text,
.budget__nd--text {
  float: left;
  font-size: 13px;
  color: #444;
  margin-top: 2px;
}

.budget__gartolgoh--value,
.budget__haoat--value,
.budget__uridchilgaa--value,
.budget__nd--value {
  letter-spacing: 1px;
  float: left;
}

.budget__gartolgoh--percentage,
.budget__haoat--percentage,
.budget__uridchilgaa--percentage,
.budget__nd--percentage {
  float: left;
  width: 34px;
  font-size: 11px;
  padding: 3px 0;
  margin-left: 10px;
}
.budget__gartolgoh--value:hover,
.budget__haoat--value:hover,
.budget__uridchilgaa--value:hover,
.budget__nd--value:hover {
  margin-right: 5px;
}
.budget__gartolgoh--text:hover,
.budget__haoat--text:hover,
.budget__uridchilgaa--text:hover,
.budget__nd--text:hover {
  margin-left: 5px;
}
.budget__value:hover {
  margin-right: 5px;
}
/***** Форм *****/
.add {
  padding: 14px;
  border-bottom: 1px solid #e7e7e7;
  background-color: #f7f7f7;
}
.add__container {
  margin: 0 auto;
  text-align: center;
}
.add__uridchilgaa,
.add__direct {
  width: 55px;
  border: 1px solid #e7e7e7;
  height: 44px;
  font-size: 14px;
  font-family: inherit;
  color: inherit;
  background-color: #fff;
  margin-right: 10px;
  font-weight: 300;
  transition: border 0.3s;
}
.add__salary,
.night__tsag,
.add__undsentsag,
.add__nighttsag,
.add__ilvvtsag,
.add__bayriintsag {
  border: 1px solid #e7e7e7;
  background-color: #fff;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  padding: 12px 15px;
  margin-right: 10px;
  border-radius: 5px;
  transition: border 0.3s;
}
.add__uridchilgaa {
  width: 170px;
}
.add__direct {
  width: 150px;
}
.add__undsentsag {
  width: 120px;
}
.add__ilvvtsag {
  width: 105px;
}
.add__nighttsag {
  width: 135px;
}
.add__bayriintsag {
  width: 125px;
}
.add__salary {
  width: 155px;
}
.add__btn {
  font-size: 35px;
  background: none;
  border: none;
  color: #28b9b5;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  line-height: 1.1;
  margin-left: 10px;
}

.add__btn:active {
  transform: translateY(2px);
}
.add__direct:focus,
.add__salary:focus,
.add__uridchilgaa:focus,
.add__undsentsag:focus,
.add__nighttsag:focus,
.add__bayriintsag:focus,
.add__ilvvtsag:focus {
  outline: none;
  border: 1px solid #28b9b5;
}

.add__btn:focus {
  outline: none;
}

.container {
  width: 80%;
  margin: 60px auto;
}
h2 {
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 15px;
}
.news_value {
  text-align: center;
  color: #28b9b5;
}
.news_list {
  text-align: center;
}
